.main{
  display: flex;
  flex-direction: row;
  justify-content: center
}
.child1{
  width: 30%;
  border: 5px solid orange;
  border-radius: 5px;
  box-shadow: 3px 3px 3px blue;
  background-color: red;
  padding:2%;
  margin:2%;
}
.child2{
  width: 70%;
    border: 5px solid red;
      box-shadow: 3px 3px 3px blue;
    background-color: orange;
    padding:2%;
    margin:2%;
}
img{
  width: 150px;
  height: 150px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}
